---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts limit:10 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div class="post-content" itemprop="articleBody">
            {{ post.content | split:'<!--break-->' | first }}
            {% if post.content contains '<!--break-->' %}
               <a class="read-more-link" href="{{ post.url }}">read more</a>
            {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
