<header class="site-header">
<svg style="height: 0;">
    <defs>
        <g id="logo-cord">{% include logo-cord.svg %}</g>
        <g id="logo-text">{% include logo-text.svg %}</g>
    </defs>
</svg>

<div class="wrapper">
    <h1 class="site-title">
        <svg class="site-title-svg" viewBox="0 0 580 630">
            <circle class="title-spotlight" cx="290" cy="310" r="180"/>
            <g transform="translate(10,5)">
                <use xlink:href="#logo-text" class="stroke-offset"/>
            </g>
            <use xlink:href="#logo-text" class="stroke-main"/>
        </svg>
    </h1>
</div>

</header>
