.page-content {
    max-width: $max-width;
    margin: 0 auto;
    background-color: white;
}

.page-content .wrapper {
    padding: $p * 2 - 2px;
    border: 1px solid $gray;
}

.page-content img {
    width: 100%;
}

.site-nav {
    background-color: $gray;
    color: white;
    font-family: $hed;
    font-weight: bold;
    font-size: 24px;
    padding: ($p + 2px) ($p * 2) 0;
    .page-link {
        display: inline-block;
        padding: 0 0 ($p - 2px);
    }

    .main-links .page-link {
        padding-right: $p * 3;
    }
    .social-links .page-link {
        padding-left: $p;
    }
}

.site-nav-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: inline-block;
    width: 1em;
    path {
        fill: white;
    }
}

// header

.site-title {
    height: 44vw;
    width: 100%;
    margin: 0;
}

.title-spotlight {
    fill: $accent;
}

.site-title-svg {
    display: block;
    position: absolute;
    top: -36vw;
    left: 50%;
    width: 110vw;
    height: 120vw;
    transform: translate(-50%, 0);
}

@media (min-width: $max-width) {
    .site-title {
        height: $max-width * 0.44;
    }
    .site-title-svg {
        top: $max-width * -0.36;
        width: $max-width * 1.1;
        height: $max-width * 1.2;
    }
}

// footer

.site-footer {
    height: 60vw;
}

.site-footer-svg {
    display: block;
    position: absolute;
    top: 7vw;
    left: 50%;
    height: 53vw;
    width: 100vw;
    transform: translate(-50%, 0);
}

.stroke-main {
    fill: white;
}

.stroke-offset {
    fill: rgba(0,0,0,0.3);
}

// post

.post-meta {

}

.post-link {
    color: $accent;
}

.read-more-link {
    color: $accent;
}

.post-content {
    margin-bottom: $p * 4;
}
